{
	"React Functional Component with Props (TypeScript)": {
	  "prefix": "rfecp",
	  "body": [
		"type Props = {",
		" ",
		"};",
		"",
		"function ${TM_FILENAME_BASE} ({}:Props) {",
		"  return (",
		"    <>",
		"      ",
		"    </>",
		"  );",
		"};",
		"",
		"export default ${TM_FILENAME_BASE};"
	  ],
	  "description": "React Functional Component with Props (TypeScript)"
	}
  }
  
